{% extends "base.html" %}

{% block title %}
<title>
    Nouveau batch de matiere
</title>
{% endblock %}


{% block content %}

<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<!-- Get informations -->
<h1> Nouveau batch XY</h1>
<div class="container shadow border border-danger-subtle border-1">
    <form action="{{ url_for('Add_XY') }}" method="POST">
        {{ Form_XY.csrf_token }}
        <br/>
        <div class="row justify-content-start">
        <div class="col-3">
            <h5>Ajout d'un nouveau XY</h5>
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_name.label }}
            {{ Form_XY.Batch_XY_name(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_date.label }}
            {{ Form_XY.Batch_XY_date(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_Technicien.label }}
            {{ Form_XY.Batch_XY_Technicien(class="form-control") }}
        </div>
        <div class="col-6">
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_XX_batch.label }}
            {{ Form_XY.Batch_XY_XX_batch(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_XX_masse.label }}
            {{ Form_XY.Batch_XY_XX_masse(class="form-control") }}
        </div>
        <div class="col-6">
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_YY_batch.label }}
            {{ Form_XY.Batch_XY_YY_batch(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_YY_Volume.label }}
            {{ Form_XY.Batch_XY_YY_Volume(class="form-control") }}
        </div>
        <div class="col-6">
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_Temperature.label }}
            {{ Form_XY.Batch_XY_Temperature(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_Agitation.label }}
            {{ Form_XY.Batch_XY_Agitation(class="form-control") }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_heure_debut.label }}
            {{ Form_XY.Batch_XY_heure_debut(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_room_HR.label }}
            {{ Form_XY.Batch_XY_room_HR(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_XY.Batch_XY_room_T.label }}
            {{ Form_XY.Batch_XY_room_T(class="form-control") }}
        </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Valider et lancer Batch</button>
    </form>
</div>






{% endblock %}
 



    <body>
      

    </body>



</html>