{% extends "base.html" %}

{% block title %}
<title>
    MaJ XX
</title>
{% endblock %}


{% block content %}

<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<!-- Get informations -->
<h1> Mise à jour batch XX</h1>
<div class="container shadow border border-danger-subtle border-1">
    <form action="{{ url_for('update_batch_XX', batch_name=Form_XX.Batch_XX_name.data) }}" method="POST">
        {{ Form_XX.csrf_token }}
        <br/>
        <div class="row justify-content-start">
        <!-- <div class="col-3">
            <h5>Arret du batch {{ Form_XX.Batch_XX_name.data }}?</h5>
        </div> -->
        <div class="col-3">
            {{ Form_XX.Batch_XX_name.label }}
            {{ Form_XX.Batch_XX_name(class="form-control",value=Form_XX.Batch_XX_name.data, disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_date.label }}
            {{ Form_XX.Batch_XX_date(class="form-control",value=Form_XX.Batch_XX_date.data, disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_Technicien.label }}
            {{ Form_XX.Batch_XX_Technicien(class="form-control",value=Form_XX.Batch_XX_Technicien.data, disabled='disabled') }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_masse.label }}
            {{ Form_XX.Batch_XX_masse(class="form-control",value=Form_XX.Batch_XX_masse.data, disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_K_batch.label }}
            {{ Form_XX.Batch_XX_K_batch(class="form-control",value=Form_XX.Batch_XX_K_batch.data, disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_C_batch.label }}
            {{ Form_XX.Batch_XX_C_batch(class="form-control",value=Form_XX.Batch_XX_C_batch.data, disabled='disabled') }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_Temperature.label }}
            {{ Form_XX.Batch_XX_Temperature(class="form-control",value=Form_XX.Batch_XX_Temperature.data, disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_Agitation.label }}
            {{ Form_XX.Batch_XX_Agitation(class="form-control",value=Form_XX.Batch_XX_Agitation.data, disabled='disabled') }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_room_HR.label }}
            {{ Form_XX.Batch_XX_room_HR(class="form-control",value=Form_XX.Batch_XX_room_HR.data, disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_room_T.label }}
            {{ Form_XX.Batch_XX_room_T(class="form-control",value=Form_XX.Batch_XX_room_T.data, disabled='disabled') }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            <br/>
            <button class="btn btn-primary" type="submit" name='submit' value="submit"> Enregistrer </button>
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_heure_debut.label }}
            {{ Form_XX.Batch_XX_heure_debut(class="form-control", value=Form_XX.Batch_XX_heure_debut.data, disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_XX.Batch_XX_heure_fin.label }}
            {{ Form_XX.Batch_XX_heure_fin(class="form-control") }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            <br/>
            <a class="btn btn-primary" href="{{url_for('supprimer_XX', batch_name=Form_XX.Batch_XX_name.data)}}"> Supprimer </a>        
        </div>
        <div class="col-3">
            .
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
        


    </form>
    <br/>
    <br/>
</div>






{% endblock %}
 



    <body>
      

    </body>



</html>