Flask==3.1.0
Flask_Login==0.6.3
flask_wtf==1.2.2
joblib==1.4.2
matplotlib
mysql_connector_repackaged==0.3.1
numpy
pandas==2.2.3
plotly==6.0.1
python-dotenv==1.0.1
Requests==2.32.3
Werkzeug==3.1.3
WTForms==3.2.1
gunicorn==20.1.0
dotenv
prometheus_flask_exporter==0.18