{% extends "base.html" %}


{% block content %}


<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<h1>Acceuil : changer ici les batch actuellement en utilisation</h1>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <p class="card-text mb-0">Batch Potassium {{n_batch_K}}</p>
                        <a href="https://www.example1.com" class="btn btn-primary">Changer batch K</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text mb-0">Batch Carbone {{n_batch_C}}</p>
                        <a href="https://www.example2.com" class="btn btn-primary">Changer batch C</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text mb-0">Batch THF {{n_batch_THF}}</p>
                        <a href="https://www.example2.com" class="btn btn-primary">Changer batch THF</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text mb-0">Batch KC8 {{n_batch_KC8}}</p>
                        <a href="https://www.example2.com" class="btn btn-primary">Changer batch KC8</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <a href="page1.html" class="btn btn-primary">Changer Batch en Cours</a>
                        <a href="page2.html" class="btn btn-primary">Nouvelle matière première</a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="page3.html" class="btn btn-primary">Nouveau batch KC8</a>
                        <a href="page4.html" class="btn btn-primary">Nouveau batch OGD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}