{% extends "base.html" %}

{% block title %}
<title>
    Nouveau batch de matiere
</title>
{% endblock %}






<!-- #######  A COMPLETER  -->





{% block content %}

<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<!-- Get informations -->
<h1> Nouveau Client</h1>
<div class="container shadow border border-danger-subtle border-1">
    <form action="{{ url_for('Add_OGD') }}" method="POST">
        {{ Form_OGD.csrf_token }}
        <br/>
        <div class="row justify-content-start">
        <div class="col-3">
            <h5>Ajout d'un nouveau OGD</h5>
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_name.label }}
            {{ Form_OGD.Batch_OGD_name(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_date.label }}
            {{ Form_OGD.Batch_OGD_date(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_Technicien.label }}
            {{ Form_OGD.Batch_OGD_Technicien(class="form-control") }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_KC8_batch.label }}
            {{ Form_OGD.Batch_OGD_KC8_batch(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_KC8_masse.label }}
            {{ Form_OGD.Batch_OGD_KC8_masse(class="form-control") }}
        </div>
    </form>





{% endblock %}

