{% extends "base.html" %}

{% block title %}
<title>
    Nouveau batch de matiere
</title>
{% endblock %}


{% block content %}

<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<!-- Get informations -->
<h1> Nouveau batch matiere</h1>
<div class="container shadow border border-danger-subtle border-1">
    <br/>
    <div class="row justify-content-start">
    <div class="col-3">
        <h5>Ajout de matière première</h5>
    </div>
    <div class="col-3">
        {{ Form_Matieres_premieres.MP_nom.label }}
        {{ Form_Matieres_premieres.MP_nom(class="form-control") }}
    </div>
    <div class="col-3">
        {{ Form_Matieres_premieres.MP_codeCW.label }}
        {{ Form_Matieres_premieres.MP_codeCW(class="form-control") }}
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
        {{ Form_Matieres_premieres.MP_ref_fournisseur.label }}
        {{ Form_Matieres_premieres.MP_ref_fournisseur(class="form-control") }}
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
        <br/>
        <button class="btn btn-primary" type="submit" name='submit' value="submit"> Enregistrer </button>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
        {{ Form_Matieres_premieres.MP_quantite.label }}
        {{ Form_Matieres_premieres.MP_quantite(class="form-control") }}
    </div>
    <div class="col-3">
        {{ Form_Matieres_premieres.MP_unite.label }}
        {{ Form_Matieres_premieres.MP_unite(class="form-control") }}
    </div>
    </div>
    <br/>
</div>






{% endblock %}
 



    <body>
      

    </body>



</html>