{% extends "base.html" %}

{% block title %}
<title>
    Ajout analyse
</title>
{% endblock %}


{% block content %}

<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}


<!-- Get informations -->
<h1> Ajout analyses </h1>
<div class="container shadow border border-danger-subtle border-1">
    <form method="POST" enctype="multipart/form-data">
        {{ Form_OGD.csrf_token }}
        <br/>
        <div class="row justify-content-start">
        <div class="col-3">
            <h5> Propriété du batch {{ Form_OGD.Batch_OGD_name.data }}:</h5>
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_name.label }}
            {{ Form_OGD.Batch_OGD_name(class="form-control",disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_date.label }}
            {{ Form_OGD.Batch_OGD_date(class="form-control", disabled='disabled') }}
        </div>
        <div class="col-3">
            {{ Form_OGD.Batch_OGD_Technicien.label }}
            {{ Form_OGD.Batch_OGD_Technicien(class="form-control", disabled='disabled') }}
        </div>
        <div class="col-12">
            <h5> Ajout de fichiers et détails: </h5>
        </div>

        <div class="col-4">
            <label for="text_UV" class="form-label"> Télécharger une analyse UV</label>
            <input class="form-control" type="file" name="file_UV" id="text_UV">
        </div>




        <div class="col-3">
            <label for="dilution" class="form-label">Dilution utilisé pour l'analyse</label>   
        </br>    
            <select class="form-select" id="dilution", name="dilution">
                <!-- <option selected>Faire un choix</option> -->
                <option selected value="10"> 1:10 </option>
                <option value="20"> 1:20 </option>
                <option value="50"> 1:50 </option>
            </select>
        </div>

        <div class="col-2">
            </br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="centrif" id="centrif_true" value="True" checked>
                <label class="form-check-label" for="centrif_true">Centrifugé</label>
            </div> 
            <div class="form-check">
                <input class="form-check-input" type="radio" name="centrif" id="centrif_false", value="False">
                <label class="form-check-label" for="centrif_false">Non-centrifugé</label>
            </div> 
        </div>
        <div class="col-3">
            <label for="detail" class="form-label"> Informations complémentaires UV</label>
            <input type="text" class="form-control" id="detail" name="details_UV" placeholder="Ecrire détails">
        </div>
        
        <div class="col-4">
            <label for="formFile" class="form-label"> Télécharger une analyse Raman</label>
            <input class="form-control" type="file" name="file_Raman">
        </div>
        <div class="col-3">
        </div>
        <div class="col-2">
        </br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type_raman" id="raman_dc" value="DC" checked>
                <label class="form-check-label" for="raman_dc">DropCast</label>
            </div> 
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type_raman" id="raman_l" value="Liq">
                <label class="form-check-label" for="raman_l">Liquide</label>
            </div> 
        </div>


        <div class="col-3">
            <label for="detail" class="form-label"> Informations complémentaires Raman</label>
            <input type="text" class="form-control" id="detail" name="details_RAMAN" placeholder="Ecrire détails">
        </div>





    </div>


        <div class="col-3">
            <br/>
            <button type="submit" class="btn btn-primary" href="{{url_for('Add_analyse', batch_name=Form_OGD.Batch_OGD_name.data)}}"> Ajouter </a>        </div>
        </div>

    </form>
    </br>
</div>






{% endblock %}
 



    <body>
      

    </body>



</html>