{% extends "base.html" %}


{% block content %}


<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}


<div class="container">
  <div class="row">
      <!-- First Column -->
      <div class="col-md-2">
        <h3> Les différents batchs sont ordonnés par ordre d'ajout.</h3>
      </div>
      <div class="col-md-3">
          <h2> Batch OGDs :</h2>
          {% for batch_OGD in batch_OGDs: %}
              {{ batch_OGD }}
              <a href="{{ url_for('update_batch_OGD', batch_name=batch_OGD) }}" >Mettre à jour</a>.
              <br/>
          {% endfor %}
      </div>
      <!-- Second Column -->
      <div class="col-md-3">
          <h2> Batch KC8s :</h2>
          {% for batch_KC8 in batch_KC8s: %}
              {{ batch_KC8 }}
              <a href="{{ url_for('update_batch_KC8', batch_name=batch_KC8) }}" >Mettre à jour</a>.
              <br/>
          {% endfor %}
      </div>
  </div>
</div>


{% endblock %}