{% extends "base.html" %}

{% block title %}
<title>
    Nouvel envoi
</title>
{% endblock %}






<!-- #######  A COMPLETER  -->





{% block content %}

<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<!-- Get informations -->
<h1> Nouvel Envoi</h1>
<div class="container shadow border border-danger-subtle border-1">
    <form action="{{ url_for('Add_OGD') }}" method="POST">
        {{ Form_Envoi.csrf_token }}
        <br/>
        <div class="row justify-content-start">
        <div class="col-3">
            <h5>Ajout d'un nouveau OGD</h5>
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_date_commande.label }}
            {{ Form_Envoi.Envoi_date_commande(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_client_name.label }}
            {{ Form_Envoi.Envoi_client_name(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_produit_name.label }}
            {{ Form_Envoi.Envoi_produit_name(class="form-control") }}
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_produit_batch.label }}
            {{ Form_Envoi.Envoi_produit_batch(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_produit_Qte.label }}
            {{ Form_Envoi.Envoi_produit_Qte(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_produit_emballage.label }}
            {{ Form_Envoi.Envoi_produit_emballage(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_date_prevu.label }}
            {{ Form_Envoi.Envoi_date_prevu(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_date_effective.label }}
            {{ Form_Envoi.Envoi_date_effective(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_code_coli.label }}
            {{ Form_Envoi.Envoi_code_coli(class="form-control") }}
        </div>
        <div class="col-3">
            {{ Form_Envoi.Envoi_retour_client.label }}
            {{ Form_Envoi.Envoi_retour_client(class="form-control") }}
        </div>

    </form>





{% endblock %}

