
{% extends 'base.html' %}


{% block title %}
<title>Add finished Batch</title>
{% endblock %}



{% block content %}


<!-- Display flash messages -->
{% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }} <!-- Display batch that was submitted -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}




<h1>Compléter le formulaire</h1>
<br/>

<form method="POST">


  {{ form_S0.hidden_tag() }}

  <div class="container shadow border border-danger-subtle border-1">
    <br/>
    <div class="row justify-content-start">
      <div class="col-3">
        <h5>Étape 0 : Initialisation</h5>
      </div>
      <div class="col-3">
        {{ form_S0.Step0_BatchName.label }}
        {{ form_S0.Step0_BatchName(class="form-control") }}
      </div>
      <div class="col-3">
        {{ form_S0.Step0_BatchTHF.label }}
        {{ form_S0.Step0_BatchTHF(class="form-control") }}
      </div>
    </div>
    <br/>
  </div>

  <br/><br/>

  <div class="container .bg-light border border-5">
    <br/>
    <h5>Étape 1 : Lancement</h5>
    <br/><br/>
    {{ form_S1.Step1_Date.label }}
    {{ form_S1.Step1_Date(class="form-control", placeholder='JJMMAA')}}  
    <br/>
    {{ form_S1.Step1_Initiales.label}}
    {{ form_S1.Step1_Initiales(class="form-control",placeholder='5 cracteres max') }}
    <br/><br/>
    {{ form_S1.Step1_KC8_Batch.label }}
    {{ form_S1.Step1_KC8_Batch(class="form-control") }}
    <br/>
    {{ form_S1.Step1_KC8_Masse.label }}
    {{ form_S1.Step1_KC8_Masse(class="form-control") }}
    <br/>
    {{ form_S1.Step1_KC8_VTHF.label }}
    {{ form_S1.Step1_KC8_VTHF(class="form-control") }}
    <br/><br/>
    {{ form_S1.Step1_Exfoliation_RefPlaque.label }}
    {{ form_S1.Step1_Exfoliation_RefPlaque(class="form-control") }}
    <br/>
    {{ form_S1.Step1_Exfoliation_Vitesse.label }}
    {{ form_S1.Step1_Exfoliation_Vitesse(class="form-control") }}
    <br/>
    {{ form_S1.Step1_Exfoliation_Heure.label }}
    {{ form_S1.Step1_Exfoliation_Heure(class="form-control") }}
    <br/><br/>
    {{ form_S1.Step1_env_Lab_H2O.label }}
    {{ form_S1.Step1_env_Lab_H2O(class="form-control") }}
    <br/>
    {{ form_S1.Step1_env_Lab_T.label }}
    {{ form_S1.Step1_env_Lab_T(class="form-control") }}
    <br/><br/>
    {{ form_S1.Step1_env_GloveBox_T.label }}
    {{ form_S1.Step1_env_GloveBox_T(class="form-control") }}
    <br/>
    {{ form_S1.Step1_env_GloveBox_H2O.label }}
    {{ form_S1.Step1_env_GloveBox_H2O(class="form-control") }}
    <br/>
    {{ form_S1.Step1_env_GloveBox_O2.label }}
    {{ form_S1.Step1_env_GloveBox_O2(class="form-control") }}
    <br/><br/>
    {{ form_S1.Step1_Observation.label }}
    {{ form_S1.Step1_Observation(class="form-control") }}
    <br/><br/>
  </div>
  <br/>

  <div class="container .bg-light border border-5">
    <br/>
    <h5>Étape 2 : THF/Sedim/Centri</h5>

    {{ form_S2.hidden_tag() }}
    {{ form_S2.Step2_Date.label }}
    {{ form_S2.Step2_Date(class="form-control") }}
    <br/>
    {{ form_S2.Step2_Initiales.label }}
    {{ form_S2.Step2_Initiales(class="form-control") }}
    <br/><br/>    
    {{ form_S2.Step2_Ajout_jourJ.label }}
    {{ form_S2.Step2_Ajout_jourJ(class="form-check-input") }}
    <br/><br/>
    {{ form_S2.Step2_AjoutTHF_Heure.label }}
    {{ form_S2.Step2_AjoutTHF_Heure(class="form-control") }}
    <br/>
    {{ form_S2.Step2_AjoutTHF_VTHF.label }}
    {{ form_S2.Step2_AjoutTHF_VTHF(class="form-control") }}
    <br/><br/>
    {{ form_S2.Step2_Sedimentation_StartHeure.label }}
    {{ form_S2.Step2_Sedimentation_StartHeure(class="form-control") }}
    <br/>
    {{ form_S2.Step2_Sedimentation_EndHeure.label }}
    {{ form_S2.Step2_Sedimentation_EndHeure(class="form-control") }}
    <br/>
    {{ form_S2.Step2_Sedimentation_Sediments.label }}
    {{ form_S2.Step2_Sedimentation_Sediments(class="form-control") }}
    <br/> <br/>
    {{ form_S2.Step2_CtrlVisuel.label }}
    {{ form_S2.Step2_CtrlVisuel(class="form-control") }}
    <br/><br/>
    {{ form_S2.Step2_env_Lab_H2O.label }}
    {{ form_S2.Step2_env_Lab_H2O(class="form-control") }}
    <br/>
    {{ form_S2.Step2_env_Lab_T.label }}
    {{ form_S2.Step2_env_Lab_T(class="form-control") }}
    <br/>
    {{ form_S2.Step2_env_GloveBox_T.label }}
    {{ form_S2.Step2_env_GloveBox_T(class="form-control") }}
    <br/>
    {{ form_S2.Step2_env_GloveBox_H2O.label }}
    {{ form_S2.Step2_env_GloveBox_H2O(class="form-control") }}
    <br/>
    {{ form_S2.Step2_env_GloveBox_O2.label }}
    {{ form_S2.Step2_env_GloveBox_O2(class="form-control") }}
    <br/><br/>
    {{ form_S2.Step2_Observation.label }}
    {{ form_S2.Step2_Observation(class="form-control") }}
    <br/><br/>    
    {{ form_S2.Step2_Centrifugation.label }}
    {{ form_S2.Step2_Centrifugation(class="form-check-input") }}
    <br/><br/>
  </div>
  <br/>
  <div class="container .bg-light border border-5">
    <br/>
    <h5>Étape 3 : Separation</h5>

    {{ form_S3.Step3_Date.label }}
    {{ form_S3.Step3_Date(class="form-control") }}
    <br/>
    {{ form_S3.Step3_Initiales.label }}
    {{ form_S3.Step3_Initiales(class="form-control") }}
    <br/><br/>
    {{ form_S3.Step3_Ox_Debit.label }}
    {{ form_S3.Step3_Ox_Debit(class="form-control") }}
    <br/>  
    {{ form_S3.Step3_Ox_Temps.label }}
    {{ form_S3.Step3_Ox_Temps(class="form-control") }}
    <br/><br/>
    {{ form_S3.Step3_env_Lab_H2O.label }}
    {{ form_S3.Step3_env_Lab_H2O(class="form-control") }}
    <br/>
    {{ form_S3.Step3_env_Lab_T.label }}
    {{ form_S3.Step3_env_Lab_T(class="form-control") }}
    <br/><br/>
    {{ form_S3.Step3_Observations.label }}
    {{ form_S3.Step3_Observations(class="form-control") }}
    <br/><br/>
  </div>
  <br/>


  <div class="container .bg-light border border-5">
    <br/>
    <h5>Étape 4 : Recuperation</h5>

    {{ form_S4.Step4_Date.label }}
    {{ form_S4.Step4_Date(class="form-control") }}
    <br/>
    {{ form_S4.Step4_Initiales.label }}
    {{ form_S4.Step4_Initiales(class="form-control") }}
    <br/><br/>
    {{ form_S4.Step4_Analyse_mOGD.label }}
    {{ form_S4.Step4_Analyse_mOGD(class="form-control") }}
    <br/>  
    {{ form_S4.Step4_Analyse_mTHF.label }}
    {{ form_S4.Step4_Analyse_mTHF(class="form-control") }}
    <br/>   
    {{ form_S4.Step4_Analyse_UV_800nm.label }}
    {{ form_S4.Step4_Analyse_UV_800nm(class="form-control") }}
    <br/><br/>
    {{ form_S4.Step4_Resultat_MesureUV.label }}
    {{ form_S4.Step4_Resultat_MesureUV(class="form-control") }}
    <br/>
    {{ form_S4.Step4_Resultat_Categorie.label }}
    {{ form_S4.Step4_Resultat_Categorie(class="form-control") }}
    <br/>
    {{ form_S4.Step4_Stockage_type.label }}
    {{ form_S4.Step4_Stockage_type(class="form-control") }}
    <br/>
    {{ form_S4.Step4_Stockage_Emplacement.label }}
    {{ form_S4.Step4_Stockage_Emplacement(class="form-control") }}
    <br/>
    {{ form_S4.Step4_Stockage_Utilisation.label }}
    {{ form_S4.Step4_Stockage_Utilisation(class="form-control") }}
    <br/><br/>
  </div>
  <br/>
  <div class="container .bg-light border border-5">
    <br/>
    <button class="btn btn-primary" type="submit"> Submit all 4 forms </button>
    <br/><br/>
  </div>
  <br/><br/>

</form>



  {% endblock %}
